.historyListItem {
    cursor: pointer;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  .historyListItem:hover {
    background-color: #f1f1f1;
  }
  
  button.float-end {
    margin-left: 10px;
  }
  